/* font import */
@import url('https://fonts.googleapis.com/css?family=Erica+One|Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:900');

/* containers */
body {
	min-width: 320px;
	max-width: 680px;
	margin: 0px auto;
}

.container {
	display: flex;
	flex-direction: column;
}

.budget-bar {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 100;
}

.categories {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	margin: 110px 0px 0px 0px;
}

/* budget bar elements */
meter {
	width: 100%;
}

/* categories */
.entertainment {
	background-color: #45eac6;
}

.food {
	background-color: #feb037;
}

.clothing {
	background-color: #0cc675;
}

.bills {
	background-color: #167ee6;
}

/* Purchase Box */

#purchase-form-trigger {
	display: flex;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	border: none;
	background-color: black;
	color: white;

}


.new-purchase {
	display: flex;
	justify-content: center;
	padding: 15px;
	background-color: red;
	z-index: 200;
}

.purchase-inputs {
	display: flex;
	flex-direction: column;
	width: 100%;
}

form input, select {
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-btn {
	display: flex;
	width: 100%;
	margin-top: 10px;
}

/* Your Purchases */

.purchases {
	display: flex;
	flex-direction: column;
	padding: 15px;
	background-color: green;
}

#purchases-detail {
	display: flex;
	flex-direction: row;
}




/* media queries */
@media only screen and (min-width: 480px) {
	/* styles for tablet */
}

@media only screen and (min-width: 768px) {
	/* styles for notebooks */
}

@media only screen and (min-width: 992px) {
	/* styles for desktop */
}

@media only screen and (min-width: 1200px) {
	/* styles for large desktop */
}
